webshopservice/Backoffice/Service References/server/server.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="server" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="server" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="server/Imports">
      <xsd:import namespace="server" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MyWebshopContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBackoffice_GetOrderList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderList" />
  </wsdl:message>
  <wsdl:message name="IBackoffice_GetOrderList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderListResponse" />
  </wsdl:message>
  <wsdl:message name="IBackoffice_ShipOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:ShipOrder" />
  </wsdl:message>
  <wsdl:message name="IBackoffice_ShipOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShipOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IBackoffice">
    <wsdl:operation name="GetOrderList">
      <wsdl:input wsaw:Action="server/IBackoffice/GetOrderList" message="tns:IBackoffice_GetOrderList_InputMessage" />
      <wsdl:output wsaw:Action="server/IBackoffice/GetOrderListResponse" message="tns:IBackoffice_GetOrderList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShipOrder">
      <wsdl:input wsaw:Action="server/IBackoffice/ShipOrder" message="tns:IBackoffice_ShipOrder_InputMessage" />
      <wsdl:output wsaw:Action="server/IBackoffice/ShipOrderResponse" message="tns:IBackoffice_ShipOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>